/*----------------
fonts
-----------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');










/*-----------------
variables
-------------------*/
:root{
    --main-color:#e02f6b;
    --blue:#0000ff;
    --dark-blue:#18293c;
    --orange:#ffa500;
    --green-yellow:#cddc39;
    --pink-light:#efa2b4;
    --cyan-light:#aef1ee;
    --white:#ffffff;
    --white-alpha-40:rgba(255,255,255,0.40);
    --white-alpha-25:rgba(255,255,255,0.25);
    --backdrop-filter-blur: blur(5px);


}


/*-----------------
Global Settings
------------------- */
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right , var(--pink-light),var(--cyan-light));
   background-attachment: fixed;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:var(--dark-blue);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;

}
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.11;
}
.main{

    max-width: 1200px;
    margin: auto;

}
.hidden{
    display: none  !important;
}
h1,h2{
    font-weight: 600;
}
h3,h4,h5,h6{
    font-weight: 500;
}
.home-text.name :hover{
    color: violet;
}
section{
    background-color: var(--white-alpha-25);
    border-color: var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 80px;
    backdrop-filter: var(--backdrop-filter-blur);
}
.container{
    
    padding: 0 40px;
    width: 100%;
}
.row{

    display: flex;
    flex-wrap: wrap;
}
img{

    vertical-align: middle;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-box{
   
    height: 80%;
    width: 60%;
    transition: .5s ease;
  backface-visibility: hidden
}

.home-text,
.home-img{
    width: 50%;
    padding: 15px;
}
.home-text h4{
    font-size: 24px;
    font-weight: 400;
}
.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.home-text h2{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
    
}
.home-text .btn{
    margin: 0 15px 15px 0;
}
.align-items-center{
    align-items: center;
}
.home-img .img-box{
    width: 360px;
    background-color:var(--white-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
    height: 300px;
}
.home-img .img-box img{
    width: 100%;
    border-radius: 50%;
}
  
.home-section{
    display: flex;
    padding: 120px  0;
}


a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    font-style: inherit;
}

.sec-padding{
    padding: 80px 0px;
}
/*------section title----------*/
.section-title{
    
    padding:0 15px ;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.section-title h2{
    font-size: 40px;
    text-transform: capitalize;
}


/*custom scrool bar----*/
::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}


/*------------------
button
--------------------*/
button{
    font-family: inherit;
    user-select: none;
}


.btn{
    background-color: var(--white-alpha-25);
    line-height: 1.5;
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block ;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: var(--main-color);
    font-family: inherit;
   font-size: 16px;
   cursor: pointer;
   user-select: none;
   position: relative;
   overflow: hidden;
   vertical-align: middle;


}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}
.btn:hover::before{
    width: 100%;
    color:var(--dark-blue);
    background-color:var( --pink-light);
    
   
}
.btn:hover{
    color: var(--white);
}   

/*About section*/
.about-img{
    
    width: 50%;
    padding: 0 15px;
}
.about-text{
    
    width: 50%;
    padding: 0 15px;
}
.about-img .img-box{
    background-color: var(--white-alpha-25);
    max-width: 380px;
    height:358px;
    border: 1px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 10px;
}
.about-img .img-box img{
    width: 100%;
}
.about-text h3{
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}
.about-text .skills{
    display: flex;
    flex-wrap: wrap;
}
.about-text .skills-item{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}
.about-tabs{
    margin-top: 20px;
}
.about-tabs .tab-item{
    padding: 2px 0;
    background-color: transparent;
    border:none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--dark-blue);
    font-size: 20px;
    cursor: pointer;
    margin: 0 30px 0 0 ;
    font-weight: 500;
    position: relative;
    
    transition: all 0.3s ease;
}
.about-tabs .tab-item:last-child{
    margin: 0;
}
.about-tabs .tab-item::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--dark-blue);
    transition: width 0.3s ease;
}
.about-tabs .tab-item:hover:before{
    width:100% ;
}
.about-tabs.tab-item.active::before{
    width: 100%;
    background-color: var(--main-color);
}
.about-tabs .tab-item.active{
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}
.about-text .timeline{
    position: relative;
}
.about-text .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: var(--main-color);
}
.about-text .tab-content{
    padding: 40px 0;
    display: none;
}
.about-text .tab-content.active{
    display: block;
}
.about-text .timeline-item{
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}
.about-text .timeline-item::before{
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: var(--main-color);
    left: 0;
    top: 16px;
    border-radius: 50%;
}
.about-text .timeline-item:last-child{
    margin-bottom: 0;
}
.about-text .timeline-item .date{
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 10px;
}
.about-text .timeline-item h4{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;

}
.about-text .timeline-item h4 span{
    font-weight: 400;
}
.tab-item:hover{
    color: var(--main-color);
}